* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
}
/* Menu Fixo */
.navbar {
    background-color:rgb(49, 48, 48);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 50;
}
/* Menu Lateral */
.sidebar {
    width: 250px;
    background-color: rgb(231, 231, 231);
    position: sticky;;
    top: 0;
    left: 0;
    padding-left: 2vh;
    padding-top: 40px;
    padding-right: 15vh;
    float: left;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    margin: 10px 0;
}

/* Conteúdo Principal */
.content {
    width: calc(100% - 250px);
    float: left;
    padding-top: 40px;
    padding-left: 10px;
}
/* Botão Flutuante */
.floating-button {
    background-color: rgb(16, 206, 16);
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
    position: fixed;
    padding: 10px;
    min-height: 9vh;
    min-width: 9vh;
    bottom: 0;
    right: 0;
    margin: 1rem;
    border-radius: 50%;
    border-style: none;
    z-index: 100;
}
/* Rodapé Fixo */
.footer {
    background-color:rgb(49, 48, 48);
    color: #fff;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 50;
    text-align: center;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .content {
        width: 100%;
    }
}